/** ---------------------------------------------- **/
/** RESET VALEUR **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** ---------------------------------------------- **/
/** HELVETICA **/
/* BOLD */
@font-face {
    font-family:"Helvetica Bold";
    src: url("../fonts/helvetica/Helvetica-Bold.ttf");
}
/* LIGHT */
@font-face {
    font-family:"Helvetica Light";
    src: url("../fonts/helvetica/helvetica-light.ttf");
}
/** ---------------------------------------------- **/
/* BACKGROUD IMAGE */
body {
    background-image: url("../images/background/nyc.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
/** ------------------------------------------------
                    HEADER
--------------------------------------------------**/
header {
    position: fixed;
    background-color: #000000;
    border-bottom: solid 1px white;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header nav{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5rem;
}

header nav ul li a{
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Helvetica Bold";
    color: #ffffff;
}
/** ------------------------------------------------
                    MAIN
--------------------------------------------------**/
.container-pictures{
    padding-top: 7rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-pictures .carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000067;
    border: solid 1px #ffffff6c;
    border-radius: 3%;
    margin-top: 1rem;
    padding: 0.5rem 4rem;
}

h2{
    padding-bottom: 0.5rem;
    color: #ffffff;
}

.container-pictures .carousel .action{
    padding: 0.8rem;
}

.cta-left{
    padding: 0.2rem 0.5rem;
    background-color: #000000;
    color: #ffffff;
    margin-right: 2rem;
    border: none;
    border: solid 1px #ffffffb5;
    border-radius: 5%;
    font-size: 14px;
}

.cta-left:hover{
    background-color: #be1818;
    color: #000000;
}

.cta-right{
    padding: 0.2rem 0.8rem;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border: solid 1px #ffffffb5;
    border-radius: 5%;
    font-size: 14px;
}

.cta-right:hover{
    background-color: #be1818;
    color: #000000;
}
/* -------------------------------------------------*/
.carousel img{
    width: 600px;
    height: 350px;
    border: solid 2px #ffffff98;
}
.container-info {
    padding-top: 3rem;
    color: #ffffff;
    font-family: "Helvetica Bold";
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
}
/*--- SECTION FORMULAIRE ---*/
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire .title {
    background-color: #000000a0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 16px;
}

.formulaire .title h3{
    font-size: 18px;
    font-family: "Helvetica Bold";
    text-transform: capitalize;
    color: #ffffff;
}

.formulaire .title p{
    font-size: 17px;
    color: #ffffff;
    font-family: "Helvetica Light";
}

form{
    background-color: #000000a0;
    color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 2rem;
    font-family: "Helvetica Bold";
    font-size: 14px;
}

.result-formulaire{
    background-color: #000000;
    border-radius: 7px;
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.result-formulaire h4{
    font-size: 19px;
    font-family: "Helvetica Bold";
    padding-bottom: 1rem;
}

.result-formulaire p:nth-child(6){
    color: #ffffff;
    font-family: "Helvetica Bold";
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 19px;
}
.red {
    color: #ff0000;
}
.green {
    color: #16a816;
}
/** ------------------------------------------------
                    FOOTER
--------------------------------------------------**/
footer {
    background-color: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}
footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4rem;
}
footer nav ul li a{
    color: #ffffff;
    font-family: "Helvetica Bold";
    font-size: 15px;
    text-decoration: none;
}
/*------------------------------------*/