/** RESET VALEUR **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** ---------------------------------------------- **/
/** DECLARER VARIABLE FONT - IMPORTER FONT **/
@font-face {
    font-family:"NOM FONT";
    src: url("");
}
/** ---------------------------------------------- **/
/* BACKGROUD IMAGE */
body {
    background-image: url("../images/background/nyc.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
/** ------------------------------------------------
                    HEADER
--------------------------------------------------**/














/** ------------------------------------------------
                    MAIN
--------------------------------------------------**/








/** ------------------------------------------------
                    FOOTER
--------------------------------------------------**/